<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/eb7c1c37-10e1-456d-ba4a-5fae5b915aa5/resourceGroups/DuAnToTNghiep/providers/Microsoft.Web/sites/BiCaCuaTho</ResourceId>
    <ResourceGroup>DuAnToTNghiep</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://bicacuatho.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>3963fd4d-7266-dc08-0269-945b6fe11134</ProjectGuid>
    <PublishUrl>https://bicacuatho.scm.azurewebsites.net/</PublishUrl>
    <UserName>$BiCaCuaTho</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>